<h1>Edit Note</h1>

<form method="POST" id="noteForm">
    {% csrf_token %}

    <input type="text" name="title" value="{{ note.title }}" required>

    <input type="hidden" name="content" id="id_content">
    <div id="editor" style="height:300px;"></div>
    <div id="old-content" style="display:none;">
        {{ note.content|default:"" }}
    </div>

    <select name="status">
        <option value="draft" {% if note.status == "draft" %}selected{% endif %}>Draft</option>
        <option value="published" {% if note.status == "published" %}selected{% endif %}>Published</option>
    </select>

    <label>
        <input type="checkbox" name="is_pinned" {% if note.is_pinned %}checked{% endif %}>
        Pin
    </label>

    <label>
        <input type="checkbox" name="is_archived" {% if note.is_archived %}checked{% endif %}>
        Archive
    </label>

    <button type="submit">Update</button>

    <p id="error" style="color:red;"></p>
</form>

<!-- Quill -->
<link href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>

<script>
const quill = new Quill("#editor", {
    theme: "snow"
});

const hidden = document.getElementById("id_content");
const error = document.getElementById("error");

// ✅ get old content
const oldContent = document.getElementById("old-content").innerHTML;

window.onload = function () {

    if (oldContent && oldContent.trim().length > 0) {
        quill.clipboard.dangerouslyPasteHTML(oldContent);
    }
};
quill.on("text-change", function () {
    error.textContent = "";
});

// submit
document.getElementById("noteForm").addEventListener("submit", function (e) {

    const text = quill.getText().trim();
    const html = quill.root.innerHTML;

    hidden.value = html;

    if (text.length === 0) {
        e.preventDefault();
        error.textContent = "Content cannot be empty!";
    }
});
</script>