@model first_.net_project.Models.Note

<h1>Note Details</h1>

<p>
    <strong>Title:</strong>
    @Model.Title
</p>

<p>
    <strong>Content:</strong>
    @Model.Content
</p>

<a asp-action="Index">Back</a>